.flexbox{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.column1{
    background-color: pink;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.column2{
    background-color: lightblue;
    width: 200px;
}
.item1{
    background-color: black;
}