.left-section{
    background-color: rgb(41, 40, 40);
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    width: 90px;
    display: flex;
    flex-direction: column;

}
.img1,.img2,.img3{
    object-fit: cover;
    height: 60px;
    width: 60px;
    margin-top: 22px;
margin-left: 12px;
margin-bottom: 0px;
    border-radius: 50%;
}
.middle-section{
    background-color: rgb(48, 46, 46);
    position: fixed;
    left: 90px;
    top: 0;
    bottom: 0;
    width: 200px;
    color:grey;
    padding-left: 20px;
    padding-top: 20px;
}
.info{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.positive{
    margin-left: 96px;
    color: rgb(124, 124, 124);
}