.container{
    height:270px;
    display: inline-block;
    width:220px;
    position: relative;
    background-color: lightcoral;
}
.image{
    height: 220px;
    width: 200px;
    position: absolute;
    object-fit: cover;
    top:10px;
    left: 10px;
    position: relative;
}
.discount{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 14px;
    background-color: black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
